.row
 %h1 
  =@restrurant.name

.row
 .columns.medium-6
  %p
   =@restrurant.description

 .columns.medium-6
  %h3 Comment
  = react_component('CommentList',
                   {comments: raw(render(template: 'comments/index.json.jbuilder'))})

